.right {
  position: relative;
  /* width: 732px; */
  width: 100%;
  /* height: 500px; */
  height: 831px;
}
.left {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rightMain {
  width: 50vw;
  /* background-color: red; */
}
.container {
  position: relative;
  display: flex;
  height: 831px;
  width: 100vw !important;
}
@media screen and (max-width: 440px) {
  .container {
    flex-direction: column;
  }
  .left {
    width: 100%;
  }
  .rightMain {
    width: 100%;
  }
  .right > img {
    height: 300px !important;
    object-position: left !important;
    margin-bottom: 50px;
  }
  .right {
    height: auto;
  }
}
