.main{
    display: flex;
    flex-direction: column !important;
    height: 100px;
    gap: 5px;
    
}
.main p{
    height: 15px;
}
.main2{
    margin-left: 50px;
    margin-top: 30px;
    font-weight: 700;
}
.main222{
    display: flex;
    flex-direction: column;
    /* align-items:center; */
    vertical-align: center;
    justify-content: center;
    /* background-color: red; */
    margin-top: 15px;
}
.main333{
    margin-top: 20px;
}